
	
<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Overseas Listed Subsidiaries</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>



	<section class="example-classname">

		<div class="container container1080">

			<div class="row ourBusiness">

				<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 centerTitle" data-aos="fade-up"

					data-aos-duration="1200">

					<h2 class="borderTitle borderTitleBig"><span>Our Strong Presence in Regional Asian Markets</span></h2>

					<p>Headquartered in Asia, we have local intel and in-house expertise in the region’s fastest growing markets. Our listed subsidiaries include Shangri-La Hotels Berhad (Malaysia) and Shangri-La Hotel Public Company Limited (Thailand).</p>

				</div>

				<div class="col-sm-12 col-xs-12">

					<div class="row howWeRow flexRow2" data-aos="fade-up" data-aos-duration="800">

						<div class="col-sm-6 col-xs-12">

							<div class="howWeTextInfo">

								<h6 class="subTitle">Bursa Malaysia Stock Code: SHMB MK</h6>

								<h3>Malaysia</h3>

								<p>Our subsidiary Shangri-La Hotels (Malaysia) Berhad owns and operates hotels and beach resorts, a golf course, investment properties and commercial laundry. Shangri-La Hotels (Malaysia) Berhad is incorporated with limited liability in Malaysia and traded on the Bursa Malaysia Securities Berhad (stock code 5517)</p>
								
								<p><a href="malaysia-corporate-profile"><u>Corporate Profile</u></a></p>
								<p><a href="malaysia-public-disclosures"><u>Public Disclosures</u></a></p>
								<p><a href="malaysia-governance"><u>Corporate Governance</u></a></p>

							</div>

						</div>

						<div class="col-sm-6 col-xs-12">

							<div class="imgPanel panelBoxOverlay_1">

								<img src="assets/images/joinUs.jpg">

							</div>

						</div>

					</div><!--flexRow-->

					

					<div class="row howWeRow flexRow2" data-aos="fade-up" data-aos-duration="1200">

						<div class="col-sm-6 col-xs-12 col-sm-push-6">

							<div class="howWeTextInfo">

								<h6 class="subTitle">SET Stock Code: SHANG TB</h6>

								<h3>Thailand</h3>

								<p>Our subsidiary Shangri-La Hotel Public Company Limited (Thailand) is an investment holding company whose principal activities are investment properties and operation of hotels and resorts. Shangri-La Hotel Public Company Limited is incorporated with limited liability in Thailand and traded on the Stock Exchange of Thailand (stock code SHANG).</p>
								
								<p><a href="thailand-corporate-profile"><u>Corporate Profile</u></a></p>

							</div>

						</div>

						<div class="col-sm-6 col-xs-12 col-sm-pull-6">

							<div class="imgPanel panelBoxOverlay_2">

								<img src="assets/images/hotelsResorts.jpg">

							</div>

						</div>

					</div><!--flexRow-->

					<div class="gap70"></div>

					

				</div>

			</div>

		</div>

	</section>



	<!-- Modal -->

	<div class="modal fade" id="videoModal" role="dialog">

		<div class="modal-dialog modal-lg">

			<!-- Modal content-->

			<div class="modal-content">

				<div class="modal-body">

					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<video width="100%" controls>

						<source src="http://gosmartacademy.com/shang_html/images/Nature_Beautiful_video.mp4" type="video/mp4">

						<source src="../login.html" type="video/ogg">

						<!--<source src="images/SLG-homepage-0509.mp4" type="video/mp4">-->

						Your browser does not support the video tag.

					</video>

				</div>

			</div>

		</div>

	</div>





	