
  
  <section class="heroSlider example-classname scopeBanner investorHero">
    <div class="scene">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 innerCaption">
            <div class="innerBannerText " data-aos="fade-up">
              <h6 class="subTitle">Investor Relations</h6>
              <h1>Shangri-La Asia Limited</h1>
              <ul>
                <li><a href="corporate-profile" class="learnMore">CORPORATE PROFILE <i class="fa fa-chevron-right"></i></a>
                </li>
                <li><a href="public-disclosures" class="learnMore">PUBLIC DISCLOSURES <i class="fa fa-chevron-right"></i></a>
                </li>
                <li><a href="csr-governance" class="learnMore">GOVERNANCE & CSR <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="overseas-listed-subsidiaries-new" class="learnMore">OVERSEAS LISTED SUBSIDIARIES <i class="fa fa-chevron-right"></i></a></li>
  
                <li><a href="other-information" class="learnMore">OTHER INFORMATION <i class="fa fa-chevron-right"></i></a></li>
                <li><a  class="learnMore">INVESTOR INQUIRIES <i class="fa fa-chevron-right"></i></a></li>
  
              </ul>
            </div>
          </div>
          <!--<div class="col-sm-6 col-xs-12 innerCaption">
            <div data-aos="fade-up">
              <img src="assets/images/chart4.png">
            </div>
          </div>-->
        </div>
      </div>
      
      <div class="breadcrumbContainer">
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="#">JOIN US</a></li>
            <li>Overview</li>
          </ul>
        </div>
      </div><!--breadcrumbContainer-->
      <div class="scope" style="background-image: url(assets/images/investorheader.jpg)"></div>
      <div class="bannerImgBox" style="background-image: url(assets/images/investorheader.jpg)"></div>
    </div><!--scene-->
  </section>
  
  <section class="example-classname">
  
    <div class="container container1470">
  
      <div class="row ourBusiness">
  
        <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle" data-aos="fade-up"
  
          data-aos-duration="1200">
  
          <h2 class="borderTitle borderTitleBig"><span>Investor Relations</span></h2>
  
  
        </div>
  
  
      </div>
  
    </div>
  
  </section>
  
  
  <section class="example-classname ptb50">
    <div class="container">
      <div class="row investor-relation" style="padding-top: 0px; display: flex;" data-aos="fade-up">
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30" style="margin-top: auto;margin-bottom: 80px;">
          <h2 class="investorTitle">Corporate profile page</h2>
  
          <p>Shangri-La Group is a multi-asset, global corporation with deep and extensive expertise in creating experiences and iconic landmarks that showcase the best of Asia and beyond.</p>
  
          <p>Shangri-La Asia Limited is our investment holding arm and the activities of the Company’s subsidiaries own and manage hotels and mixed-use developments.</p>
  
          <p>Incorporated in Bermuda with limited liability. Shangri-La Asia Limited is listed on the 
            <a href="#">Hong Kong Stock Exchange (stock code 00069)</a> with a secondary listing on the <a href="#">Singapore Exchange Securities Trading Limited (stock code Shang Asia 2kHK$)</a>
          </p>
  
          <a href="corporate-profile" class="learnMoreNew">MORE DETAIL</a>
  
        </div>
  
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30">
          <img src="assets/images/investnew1.png">
        </div>
  
      </div>
  
      <div class="row investor-relation" style=" display: flex;" data-aos="fade-up">
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30">
          <img src="assets/images/investnew2.png">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30" style="margin-top: auto;margin-bottom: 80px;">
          <h2 class="investorTitle">Public Disclosures</h2>
  
          <p>We uphold and maintain transparency of information in our investment community. Please find the latest financial reports, shareholder information and presentations.</p>
  <br/><br/><br/>
          <p><a style="color: #979181 !important;font-weight: bold;" href="#">FINANCIAL REPORT</a></p>
          <p><a style="color: #979181 !important;font-weight: bold;" href="#">FINANCIAL RESULTS</a></p>
          <p><a style="color: #979181 !important;font-weight: bold;" href="#">ANNOUNCEMENTS & CIRCULARS</a></p>
  
        <a href="investor-realtions-new" class="learnMoreNew">MORE DETAIL</a>
        </div>
      </div>
  
      <div class="row investor-relation" style=" display: flex;" data-aos="fade-up">
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30" style="margin-top: auto;margin-bottom: 80px;">
          <h2 class="investorTitle">CSR & Governance</h2>
  
          <p>Shangri-La Hotels & Resorts is recognised by the Dow Jones Sustainability Indices (DJSI) as the only hotel group included in the index component within Asia/Pacific. It affirms our commitment to sustainable operations and our leadership within the global travel & tourism sector.</p>
  
  
  
          <a href="csr-governance" class="learnMoreNew">MORE DETAIL</a>
  
        </div>
  
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30">
          <img src="assets/images/investnew3.png">
        </div>
  
      </div>
  
  
      <div class="row investor-relation" style=" display: flex;" data-aos="fade-up">
  
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30">
          <img src="assets/images/investnew4.png">
        </div>
  
  
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30" style="margin-top: auto;margin-bottom: 80px;">
          <h2 class="investorTitle">Overseas Listed Subsidiaries</h2>
  
          <p>Our strong presence in regional Asian markets.</p>
  <p>Headquartered in Asia, we have local intel and in-house expertise in the region’s fastest growing markets. Our listed subsidiaries include Shangri-La Hotels Berhad (Malaysia) and Shangri-La Hotel Public Company Limited (Thailand).</p>
  <p><b>Malaysia</b> <br/>Our subsidiary Shangri-La Hotels (Malaysia) Berhad owns and operates hotels and beach resorts, a golf course, investment properties and commercial laundry. Shangri-La Hotels (Malaysia) Berhad is incorporated with limited liability in Malaysia and traded on the Bursa Malaysia Securities Berhad.</p>
  
          <p><b>Thailand</b><br/>Our subsidiary <b>Shangri-La Hotel Public Company Limited  (Thailand)</b> is an investment holding company whose principal activities are investment properties and operation of hotels and resorts. Shangri-La Hotel Public Company Limited is incorporated with limited liability in Thailand and traded on the Stock Exchange of Thailand.</p>
          <p><b>Bloomberg Stock Code</b><br/>i.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bursa Malaysia Stock Code: SHMB MK
    <br/>ii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SET Stock Code: SHANG TB</p>
          <a href="overseas-listed-subsidiaries-new" class="learnMoreNew">MORE DETAIL</a>
  
        </div>
      </div>
  
  
      <div class="row investor-relation" style=" display: flex;" data-aos="fade-up">
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30" style="margin-top: auto;margin-bottom: 80px;">
          <h2 class="investorTitle">Other Information</h2>
  
          <p>Our analyst coverages are independent and impartial, and does not imply any endorsement. </p>
  
  
  
          <a href="other-information" class="learnMoreNew">MORE DETAIL</a>
  
        </div>
  
        <div class="col-md-6 col-sm-12 col-xs-12 marginBottom30">
          <img src="assets/images/investnew5.png">
        </div>
  
      </div>
  
  
    </div>
  </section>
  
  
  <section class="ptb50 middleSection example-classname careerBG contactRow">
  
    <div class="container">
  
      <div class="row">
  
        <div class="col-md-12 col-sm-12 col-xs-12 centerTitle ourBusinessTitle">
  
            <h2 class="borderTitle borderTitleBig"><span>Contact Us</span></h2>					 
  
          <p>Get in touch with us</p>
  
  
  
          <h5>Investor Relations Contact</h5>
  
          <p>enquiry.ir@shangri-la.com<br/>
  
              28/F Kerry Centre, 683 King’s Road<br/>
  
              Quarry Bay, Hong Kong</p>
  
  
  
        </div>
  
      </div>
  
    </div>
  
  </section>
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="videoModal" role="dialog">
  
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
  
      <div class="modal-content">
  
        <div class="modal-body">
  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
  
          <video width="100%" controls>
  
            <source src="assets/images/Nature_Beautiful_video.mp4" type="video/mp4">
  
            <source src="assets/images/Nature_Beautiful_video.ogg" type="video/ogg">
  
            <!--<source src="assets/images/SLG-homepage-0509.mp4" type="video/mp4">-->
  
            Your browser does not support the video tag.
  
          </video>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  