<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Corporate Profile</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>

<section class="example-classname">
	<div class="container container1470">
		<div class="row ourBusiness">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 centerTitle" data-aos="fade-up" data-aos-duration="1200">
				<h2 class="borderTitle borderTitleBig"><span>Our investment holdings</span></h2>

				<p>Our subsidiary Shangri-La Hotels (Malaysia) Berhad owns and operates hotels and beach resorts, a golf course, investment properties and commercial laundry.</p>
				<br>
				<p>Shangri-La Hotels (Malaysia) Berhad is incorporated with limited liability in Malaysia and traded on the Bursa Malaysia Securities Berhad (stock code 5517)</p>
				<br>
			</div>
		</div>
	</div>
</section>

<section class="example-classname diversifyingSection">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle" data-aos="fade-up">
				<h2 class="borderTitle borderTitleBig"><span>Stock Codes</span></h2>
				<ul class="flexboxList flexboxList3Box">
					<li></li>
					<li><span><img src="assets/images/Key-Information-02.png"></span>5517<br/> Bursa Malaysia Securities Berhad</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="example-classname">
	<div class="container">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle">
				<h2 class="borderTitle borderTitleBig"><span>Corporate Information</span></h2>
			</div>
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

				<ul class="tableList">
					<div class="tableBody">
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Name</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Shangri-La Hotels (Malaysia) Berhad</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Registered Office</li>
						<li class="col-md-9 col-sm-8 col-xs-8">13th Floor, UBN Tower<br>10 Jalan P. Ramlee<br>50250 Kuala Lumpur<br>Malaysia</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Sector</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Hotels</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Internet Homepage Address (URL)</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="https://www.shangri-la.com/">http://www.shangri-la.com</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Phone Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">60-3-2026-1018</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Fax Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">60-3-2026-1068</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Financial Year End</li>
						<li class="col-md-9 col-sm-8 col-xs-8">December 31</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Board of Directors</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Tan Sri A. Razak bin Ramli (Chairman)<br>
						Kuok Oon Kwong (Managing Director)<br>
						Datin Rozina Mohd Amin (Executive Director)<br>
						Goh Ching Yin*<br>
						Dato' Sri Khazali bin Ahmad*<br>
						Ahmed Reza bin Mohd Ghazali*<br>
						Ng Chih Kaye*<br><br>
						* Independent Non-Executive Directors
						</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Secretary</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Datin Rozina Mohd Amin</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Exchange Listing</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Bursa Malaysia Securities Berhad</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Codes/Symbol</li>
						<li class="col-md-9 col-sm-8 col-xs-8">5517</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Investor Relations Contact</li>
						<li class="col-md-9 col-sm-8 col-xs-8">
							<table>
								<tr>
									<td>Contact Person</td>
									<td>Mr Chan Chee Yuen</td>
								</tr>
								<tr>
									<td>Designation</td>
									<td>Group Manager, Corporate Finance & Accounts</td>
								</tr>
								<tr>
									<td>Email</td>
									<td><a href="mailto:cheeyuen.chan@shangri-la.com">cheeyuen.chan@shangri-la.com</a></td>
								</tr>
							</table>
							<br>
							<table>
								<tr>
									<td>Contact Person</td>
									<td>Ms Lee Li Teng</td>
								</tr>
								<tr>
									<td>Designation</td>
									<td>Group Manager, Corporate & Secretarial</td>
								</tr>
								<tr>
									<td>Email</td>
									<td><a href="mailto:liteng.lee@shangri-la.com">liteng.lee@shangri-la.com</a></td>
								</tr>
							</table>
							<br>
							<table>
								<tr>
									<td>Telephone</td>
									<td>603 - 2026 1018</td>
								</tr>
								<tr>
									<td>Fax</td>
									<td>603 - 2026 1068</td>
								</tr>
							</table>
						</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Share Registrar</li>
						<li class="col-md-9 col-sm-8 col-xs-8">
							<table>
								<tr>
									<td>Name</td>
									<td>PPB Corporate Services Sdn Bhd</td>
								</tr>
								<tr>
									<td>Telephone</td>
									<td>603 - 2726 0088</td>
								</tr>
								<tr>
									<td>Fax</td>
									<td>603 - 2726 0099</td>
								</tr>
								<tr>
									<td>Address</td>
									<td>12th Floor, UBN Tower<br>10 Jalan P. Ramlee<br>50250 Kuala Lumpur</td>
								</tr>
							</table>
						</li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>
