<ul class="mobile_menu">
    <!--<li><a href="index.html">Home</a></li>-->
    <li>
      <a href="#" onclick="return false;"><img src="assets/images/ic_ourStory.png"> OUR STORY</a>
      <ul class="submenu">
        <li><a href="#"><img src="assets/images/ic_ourPurpose_w.svg" class="ic_Menu"> OUR PURPOSE</a></li>
        <li><a href="#"><img src="assets/images/ic_ourCulture_w.svg" class="ic_Menu"> OUR CULTURE AND VALUES</a></li>
        <li><a href="#"><img src="assets/images/ic_ourBrand_w.svg" class="ic_Menu"> OUR BRAND</a></li>
        <li><a href="#"><img src="assets/images/ic_ourMilestones_w.svg" class="ic_Menu"> OUR MILESTONES</a></li>
        <li><a href="#"><img src="assets/images/ic_ourLeaders_w.svg" class="ic_Menu"> OUR LEADERSHIP TEAM</a></li>
        <li><a href="#"><img src="assets/images/ic_technology_w.svg" class="ic_Menu"> OUR AWARDS</a></li>
        <li><a href="#"><img src="assets/images/ic_shangriAcademy_w.svg" class="ic_Menu"> OUR SUSTAINABILITY</a></li>
  
      </ul>
    </li>
    <li>
      <a href="#"><img src="assets/images/ic_ourBusinesses.png"> What We Do</a>
      <ul class="submenu">
        <li><a href="#"><img src="assets/images/ic_Hospitality_w.svg" class="ic_Menu"> HOTELS &amp; RESORTS</a></li>
        <li><a href="#" style="margin-left: 65px;"> Hotel Jen</a></li>
        <li><a href="#" style="margin-left: 65px;"> Traders Hotel</a></li>
        <li><a href="#" style="margin-left: 65px;"> Kerry Hotels</a></li>
        <li><a href="#" style="margin-left: 65px;"> Golden Circle</a></li>
  
        <li><a href="#"><img src="assets/images/ic_properties_w.svg" class="ic_Menu"> COMMERCIAL &amp; RESIDENTIAL</a></li>
        <li><a href="#"><img src="assets/images/ic_foodBeverage_w.svg" class="ic_Menu"> FOOD &amp; BEVERAGE</a></li>
        <li><a href="#"><img src="assets/images/ic_Leisure_w.svg" class="ic_Menu"> FITNESS &amp; WELLNESS</a></li>
        <li><a href="#"><img src="assets/images/ic_commercial_w.svg" class="ic_Menu"> FAMILY EXPERIENCE</a></li>
  
      </ul>
    </li>
    <li>
      <a href="#"><img src="assets/images/ic_buildWithUs.png"> Investors</a>
      <ul class="submenu">
        <li><a href="corporate-profile"><img src="assets/images/ic_designDevelopment_w.svg" class="ic_Menu"> CORPORATE INFORMATION</a>
        </li>
        <li><a href="public-disclosures"><img src="assets/images/ic_careerOpportunities_w.svg" class="ic_Menu"> PUBLIC DISCLOSURES</a></li>
        <li><a href="#"><img src="assets/images/ic_assetManagement_w.svg" class="ic_Menu"> ASSET MANAGEMENT</a></li>
        <li><a href="csr-governance"><img src="assets/images/ic_operation_w.svg" class="ic_Menu"> CSR &amp; GOVERNANCE</a></li>
        <li><a href="overseas-listed-subsidiaries-new"><img src="assets/images/ic_assetManagement_w.svg" class="ic_Menu"> OVERSEAS LISTED SUBSIDIARIES (MY/TH)</a></li>
        <li><a href="other-information"><img src="assets/images/ic_loyaltyProgram_w.svg" class="ic_Menu"> OTHER INFORMATION</a>
        <li><a href="#"><img src="assets/images/ic_storiesSuccess_w.svg" class="ic_Menu"> INVESTOR ENQUIRIES</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><img src="assets/images/ic_joinUs.png"> Join us</a>
      <ul class="submenu">
        <li><a href="#"><img src="assets/images/ic_ourCommitment_w.svg" class="ic_Menu"> PEOPLE DEVELOPMENT</a></li>
        <li><a href="#"><img src="assets/images/ic_growWithUs_w.svg" class="ic_Menu"> GROW WITH US</a></li>
        <li><a href="#"><img src="assets/images/ic_ourCulture_w.svg" class="ic_Menu"> OUR CULTURE</a></li>
        <li><a href="#"><img src="assets/images/ic_careerOpportunities_w.svg" class="ic_Menu"> CAREER OPPORTUNITIES</a>
        </li>
      </ul>
    </li>
    <li>
      <div class="mobileOtherMenu">
        <a href="#">Media</a>
        <a href="#">Contact Us</a>
  
        <div class="mobileSearch">
          <input type="text" name="search" placeholder="What're we looking for ?">
          <!--<button type="submit"><img src="images/search.png"></button>-->
        </div>
        <ul class="LanguageSign">
          <li><a href="#">繁</a></li>
          <li><a href="#">简</a></li>
        </ul>
        <p class="copyRightMenu">©2019 Shangri-La International Hotel Management Ltd. All Rights</p>
      </div>
    </li>
  </ul>
  
  <header class="clearHeader">
    <div class="container">
  
        <div class="row">
  
            <nav class="navbar navbar-inverse">
  
                <div class="topnavRight">
  
                    <!--<a href="investor-relations.html#">Investor Relations</a>-->
  
                    <!--<a href="investor-relations.html#">Sustainbility</a>-->
  
                    <a href="investor-relations.html#">Media</a>
  
                    <a href="investor-relations.html#">Contact Us</a>
  
                    <!--<a href="investor-relations.html#">Reservation</a>-->
  
                    <a href="investor-relations.html#">
  
                        <select class="languageSelect">
  
                            <option>Language</option>
  
                            <option>English</option>
  
                            <option>Chinese</option>
  
                        </select>
  
                    </a>
  
                </div>
  
  
                <div class="navbar-header">
  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  
                        <span class="icon-bar"></span>
  
                        <span class="icon-bar"></span>
  
                        <span class="icon-bar"></span>
  
                    </button>
  
                    <a class="navbar-brand" href="../login.html">
  
                        <img src="assets/images/logo.png" class="whiteLogo">
  
                        <img src="assets/images/logoColor.png" class="colorLogo">
  
                    </a>
  
                </div>
  
                <div class="collapse navbar-collapse" id="myNavbar">
  
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#" onclick="return false;">Our Story</a>
                            <div class="dropdown-menu dropdownFull">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 col-xs-12 ptb40 ">
                                            <h3>About Shangri-La</h3>
                                            <p>Shangri-La Group is a multi-asset, global corporation with deep and extensive expertise in creating experiences and iconic landmarks that showcase the best of Asia and beyond.</p>
                                            <a href="#" class="learnMore">DISCOVER WHO WE ARE <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-12 col-md-offset-1">
                                            <div class="row flexRow">
                                                <div class="col-6">
                                                    <a href="#" onclick="return false;">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourPurpose.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR PURPOSE</h5>
                                                            <p>Creating new landmarks and experiences that showcase the best of Asia.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourCulture.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR CULTURE AND VALUES</h5>
                                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourBrand.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR BRAND</h5>
                                                            <p>We are rooted in our Asian values and our people always come first, having expanded from a family business into a global conglomerate.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourMilestones.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR MILESTONES</h5>
                                                            <p>Our business has grown in depth and breadth since our first Shangri-La Hotel in Singapore in 1971.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourLeaders.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR LEADERSHIP TEAM</h5>
                                                            <p>Our visionary leaders bring invaluable insights with an international perspective for long-term growth.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_technology.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR AWARDS</h5>
                                                            <p>Shangri-La is honoured to be recognised by respected International publications and industry groups for our excellence in luxury hospitality.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_shangriAcademy.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR SUSTAINABILITY</h5>
                                                            <p>At Shangri-La Group, we operate our business responsibly with the aim of improving people’s lives while caring for the environment.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">What We Do</a>
                            <div class="dropdown-menu dropdownFull">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 col-xs-12 ptb40 ">
                                            <h3>What We Do</h3>
                                            <p>Shangri-la Group consists of deep expertise across five broad-reaching commercial areas, enabled by our in-house capabilities across global markets.</p>
                                            <a href="#" class="learnMore">SEE OUR PORTFOLIO <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-12 col-md-offset-1">
                                            <div class="row flexRow">
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_Hospitality.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>HOTELS &amp; RESORTS</h5>
                                                            <h6>Shangri-La Hotels &amp; Resorts</h6>
                                                            <p>To Treat A Stranger As One Of Our Own</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap25"></div>
                                                    <a href="#">
                                                        <div class="subMenuInfo">
                                                            <h6>Hotel Jen</h6>
                                                            <p>Seize The Stay</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap25"></div>
                                                    <a href="#">
                                                        <!--<div class="menuIcon">
                                                    <img src="images/ic_ourBrand.svg">
                                                </div>-->
                                                        <div class="subMenuInfo">
                                                            <h6>Traders Hotel</h6>
                                                            <p>Always Ready For The Smart Traveller</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap25"></div>
                                                    <a href="#">
                                                        <!--<div class="menuIcon">
                                                    <img src="images/ic_ourPurpose.svg">
                                                </div>-->
                                                        <div class="subMenuInfo">
                                                            <h6>Kerry Hotels</h6>
                                                            <p>More Room For Life</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap25"></div>
                                                    <a href="#">
                                                        <!--<div class="menuIcon">
                                                    <img src="images/ic_ourBrand.svg">
                                                </div>-->
                                                        <div class="subMenuInfo">
                                                            <h6>Golden Circle</h6>
                                                            <p>Lorem ipsum dolor sit amet</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_properties.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>COMMERCIAL &amp; RESIDENTIAL</h5>
                                                            <p>Integrated Mixed-Used Development of hotels, restaurants &amp; bars, residence, offices and malls.</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap30"></div>
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_foodBeverage.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>FOOD &amp; BEVERAGE</h5>
                                                            <p>From award-winning restaurants and bars to bespoke Shangri-La edibles.</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap30"></div>
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_Leisure.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>FITNESS &amp; WELLNESS</h5>
                                                            <p>Indulge in signature Chi Spa experiences across our global properties and get fit with personalised fitness programmes.</p>
                                                        </div>
                                                    </a>
                                                    <div class="gap30"></div>
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_commercial.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>FAMILY EXPERIENCE</h5>
                                                            <p>We are dedicated to creating a balanced lifestyle; enriching lives through learn and play, curating family-friendly experiences for the community.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="investor-relations.html#">Investors</a>
                            <div class="dropdown-menu dropdownFull">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 col-xs-12 ptb40 ">
                                            <h3>Investors</h3>
                                            <p>The latest updates and information about Shangri-La Asia Limited for shareholders, potential investors and financial analysts.</p>
                                            <a href="investor-relations-new" class="learnMore">LEARN MORE <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-12 col-md-offset-1">
                                            <div class="row flexRow">
                                                <div class="col-6">
                                                    <a href="corporate-profile">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_designDevelopment.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>CORPORATE INFORMATION</h5>
                                                            <p>As a publicly listed group, our multi-assets extend from investment holding companies, mixed-use developments to hospitality.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="public-disclosures">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_careerOpportunities.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>PUBLIC DISCLOSURES</h5>
                                                            <p>We believe in maintaining transparent and open communication with the investment community.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="csr-governance">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_operation.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>CSR &amp; GOVERNANCE</h5>
                                                            <p>We are compliant with corporate governance and committed to sustainable long-term projects.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="overseas-listed-subsidiaries-new">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_assetManagement.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OVERSEAS LISTED SUBSIDIARIES (MY/TH)</h5>
                                                            <p>The subsidiaries of Shangri-La Asia own, manage and operate a collective portfolio of hotels, resorts, investment real estate.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="other-information">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_loyaltyProgram.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OTHER INFORMATION</h5>
                                                            <p>The latest analyst coverages, notices and reports.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_storiesSuccess.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>INVESTOR ENQUIRIES</h5>
                                                            <p>How can we help? Please click here for our respective Investor Relations contact.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">Join Us</a>
                            <div class="dropdown-menu dropdownFull">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3 col-xs-12 ptb40 ">
                                            <h3>Careers at Shangri-La</h3>
                                            <p>Our career opportunities span the breadth of real estate management, investor relations, design development to hospitality in our multi-faceted businesses across the globe.</p>
                                            <a href="#" class="learnMore">EXPLORE OPPORTUNITIES <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-xs-12 col-md-offset-1">
                                            <div class="row flexRow">
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourCommitment.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>PEOPLE DEVELOPMENT</h5>
                                                            <p>We take pride in our high staff retention rate and our reputation as one of the industry's leading employer.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_growWithUs.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>GROW WITH US</h5>
                                                            <p>Our successes are only made possible through the efforts and capabilities of our people.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_ourCulture.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>OUR CULTURE</h5>
                                                            <p>Every day, we strive to bring our core values to life: respect, humility, courtesy, helpfulness and sincerity.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#">
                                                        <div class="menuIcon">
                                                            <img src="assets/images/ic_careerOpportunities.svg">
                                                        </div>
                                                        <div class="subMenuInfo">
                                                            <h5>CAREER OPPORTUNITIES</h5>
                                                            <p>As a global multi-assets company, we are always in search of the right talent.</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
  
                            <a class="dropdown-toggle" data-toggle="dropdown" href="investor-relations.html#"><i class="fa fa-search"></i></a>
  
                            <div class="dropdown-menu searchDropdown">
  
                                <form>
  
                                    <input type="search" placeholder="What're we looking for ?">
  
                                </form>
  
                            </div>
  
                            <!--dropdown-menu-->
  
                        </li>
  
                    </ul>
  
                </div>
  
                <span class="mobileMenuIcon" onclick="openNav()">
  
                        <span class="icon-bar"></span>
  
                        <span class="icon-bar"></span>
  
                        <span class="icon-bar"></span>
  
                    </span>
  
            </nav>
        </div>
    </div>
  </header>
  