

<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Public Disclosures</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>

<section class="example-classname">
	<div class="container container1470">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-md-12 col-sm-12 col-xs-12 centerTitle">
				<h2 class="borderTitle borderTitleBig"><span>Public Disclosures</span></h2>
			</div>
			<div class="col-sm-12 col-xs-12">
				<ul class="nav nav-tabs navTabs">
					<li class="active"><a data-toggle="tab" href="#home">Annual Reports</a></li>
					<li><a data-toggle="tab" href="#menu1">Financial Results</a></li>
					<li><a data-toggle="tab" href="#menu2">Announcements & Circulars</a></li>
				</ul>
				
				<div class="tab-content tabContent2">
					<div id="home" class="tab-pane fade in active">
						<h3 class="borderTitle4">Annual Reports</h3>
						
						<ul class="tableList">
							<div class="tableHead">
								<li class="col-sm-12 col-xs-12">
									<select class="selectBox">
										<option>All</option>
										<option>2018</option>
										<option>2017</option>
										<option>2016</option>
										<option>2015</option>
										<option>2014</option>
										<option>2013</option>
										<option>2012</option>
										<option>2011</option>
										<option>2010</option>
										<option>2009</option>
										<option>2008</option>
										<option>2007</option>
										<option>2006</option>
										<option>2005</option>
										<option>2004</option>
										<option>2003</option>
									</select>
								</li>
							</div>
							<div class="tableBody dateSpan">
								<li class="col-sm-12 col-xs-12">
									<span>2018</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/SHANG Annual Report 2018.pdf')" class="mlauto rightLinks">
											<h4>Annual Report (2.39MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/SHANG Annual Report 2018.pdf')" class="mlauto rightLinks">Download</a>
									
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2017</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20180423.pdf')" class="mlauto rightLinks">
											<h4>Annual Report (2.27MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20180423.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2016</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20170426.pdf')" class="mlauto rightLinks">
											<h4>Annual Report (2.6MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20170426.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2015</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20160426.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (2.24MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20160426.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2014</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20140427.pdf')" class="mlauto rightLinks">
											<h4>Annual Report (2.4MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20140427.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2013</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20140428.pdf')" class="mlauto rightLinks">
											<h4>Annual Report (2.85MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20140428.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2012</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20130502.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (4.6MB)</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Annual Reports/20130502.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2011</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212i.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (2.91MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212i.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2010</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212h.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (2.8MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212h.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2009</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212g.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (2.05MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212g.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2008</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212f.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (0.79MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212f.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2007</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212e.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (1.79MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212e.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2006</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212d.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (1.69MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212d.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2005</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212c.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (1.69MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212c.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2004</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212b.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (1.37MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212b.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2003</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Annual Reports/20100212a.pdf')" class="mlauto rightLinks">
										<h4>Annual Report (1.91MB)</h4>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Annual Reports/20100212a.pdf')" class="mlauto rightLinks">Download</a>
								</li>
							</div>
						</ul>
					</div><!--tab-pane-->
					<div id="menu1" class="tab-pane fade">
						<h3 class="borderTitle4">Financial Results</h3>
						
						<ul class="tableList">
							<div class="tableHead">
								<li class="col-sm-12 col-xs-12">
									<select class="selectBox">
										<!--<option>Year</option>-->
										<option>2019</option>
										<option>2018</option>
										<option>2017</option>
										<option>2016</option>
										
										
										
									</select>
								</li>
							</div>
							<div class="tableBody dateSpan">
								<li class="col-sm-12 col-xs-12">
									<span>2019/03/20</span>
									<div class="middleText">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Corporate Presentation/2018 Final Results Announcement.pdf')" class="mlauto rightLinks">
										<h4>2018 Final Results Announcement</h4>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Corporate Presentation/2018 Final Results Announcement.pdf')" class="mlauto rightLinks">Download</a>
								</li>
							</div>
						</ul>
					</div>
					<div id="menu2" class="tab-pane fade">
						<h3 class="borderTitle4">Announcements & Circulars</h3>
						
						<ul class="tableList">
							<div class="tableHead">
								<li class="col-sm-12 col-xs-12">
									<select class="selectBox">
									<!--	<option>Year</option>-->
										<option>2019</option>
										<option>2018</option>
										<option>2017</option>
										<option>2016</option>
									</select>
									<!--<select class="selectBox ml15 max375">-->
									<!--	<option>All</option>-->
									<!--	<option>Lorem Ipsum is simply dummy text</option>-->
									<!--	<option>Printing & typesetting industry</option>-->
									<!--	<option>Lorem has been the industry's</option>-->
									<!--	<option>Standard dummy text ever since</option>-->
									<!--	<option>Lorem Ipsum is simply dummy</option>-->
									<!--</select>-->
								</li>
							</div>
							<div class="tableBody dateSpan">
								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 9 - SHMB Q1 2019 Results.pdf')" class="mlauto">
										<p>Unaudited Consolidated Results for the first quarter and 3 months ended 31 March 2019</p>
										</a>
									</div>									
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 9 - SHMB Q1 2019 Results.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 8 - Change in NRC.PDF.pdf')" class="mlauto">
										<p>Change in Nomination and Remuneration Committee – Dato’ Sri Khazali bin Ahmad</p>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 8 - Change in NRC.PDF.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 7 - Change in Audit Committee.pdf')" class="mlauto">
										<p>Change in Audit Committee – Mr Ng Chih Kaye</p>
										</a>
									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 7 - Change in Audit Committee.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 6 - Appointment of Director.pdf')" class="mlauto">
										<p>Change in Boardroom – Appointment of Mr Ng Chih Kaye</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 6 - Appointment of Director.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 5 - Others – i) Appointment of New INED ii) Board Committee ....pdf')" class="mlauto">

										<p>Others – i) Appointment of New Independent Non-Executive Director, ii) Board Committee Changes</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 5 - Others – i) Appointment of New INED ii) Board Committee ....pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 4 - Change in NRC.PDF.pdf')" class="mlauto">

										<p>Change in Nomination and Remuneration Committee – Dato’ Haris Onn bin Hussein</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 4 - Change in NRC.PDF.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 3 - Change in Audit Committee.pdf')" class="mlauto">

										<p>Change in Audit Committee – Dato’ Haris Onn bin Hussein</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 3 - Change in Audit Committee.pdf')" class="mlauto rightLinks">Download</a>
								</li>

								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 2 - Retirement of Director.pdf')" class="mlauto">
										<p>Change in Boardroom – Retirement of Dato’ Haris Onn bin Hussein</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 2 - Retirement of Director.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2019/05/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 1- 48th AGM.PDF.pdf')" class="mlauto">
										<p>48th Annual General Meeting held on 29 May 2019</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/SHMB 1- 48th AGM.PDF.pdf')" class="mlauto rightLinks">Download</a>
								</li>
								
								<li class="col-sm-12 col-xs-12">
									<span>2019/04/29</span>
									<div class="middleText middleText2">
										<a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Notice of 48th AGM-SHMB-29.4.2019.pdf')" class="mlauto">
										<p>Notice of 48th Annual General Meeting</p>
										</a>

									</div>
									<a href="javascript:open_pdf('assets/files/Announcements & Circulars/Notice of 48th AGM-SHMB-29.4.2019.pdf')" class="mlauto rightLinks">Download</a>
								</li>
							</div>
						</ul>
						
						<div class="col-sm-12 col-xs-12">
						<ul class="pagination">
							<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">...</a></li>
							<li><a href="#">10</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
						</div>
						
					</div>
				</div><!--tab-content-->
			</div><!--col-12-->
		</div><!--row-->
	</div><!--container-->
</section>

<section class="ptb50 middleSection example-classname careerBG contactRow">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 centerTitle ourBusinessTitle">
				<h2 class="borderTitle borderTitleBig"><span>Contact Us</span></h2>	
				<p>Get in touch with us</p>
				
				<h5 class="mb10">Investor Relations Contact</h5>
				<p>enquiry.ir@shangri-la.com<br/>
					28/F Kerry Centre, 683 King’s Road<br/>
					Quarry Bay, Hong Kong</p>
			</div>
		</div>
	</div>
</section>


