
<section class="heroSlider example-classname scopeBanner investorHero">
    <div class="scene">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
                    <div class="innerBannerText " data-aos="fade-up">
                        <h6 class="subTitle">This is a subhead for the key visual</h6>
                        <h1>This is a headline <br>for the key visual</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="breadcrumbContainer mobileBreadcrum">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#"><span>Investor Relations</span></a></li>
                    <li><a href="#"><span>Overview</span></a></li>
                    <li>Corporate Profile</li>
                </ul>
            </div>
        </div><!--breadcrumbContainer-->
        <div class="scope mobileOnly scopeCenter" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
        <div class="bannerImgBox" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
    </div><!--scene-->
</section>

<section class="example-classname">
    <div class="container container1470">
        <div class="row ourBusiness">
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 centerTitle" data-aos="fade-up" data-aos-duration="1200">
                <h2 class="borderTitle borderTitleBig"><span>Our investment holdings</span></h2>

                <p>Shangri-La Group is a multi-asset, global corporation with deep and extensive expertise in creating experiences and iconic landmarks that showcase the best of Asia and beyond.</p>
                <br>
                <p>Shangri-La Asia Limited is our investment holding company and the principal activities of Shangri-La Group are development, ownership and operations and management of hotel properties, investment properties as well as commercial and residential developments for sale.</p>
                <br>
                <p>At Shangri-La Group, we operate our businesses under our multi-brands encompassing key areas in  hotels and resorts, commercial and residential properties, food and beverage and recreational experiences; including but not limited to “Shangri-La”, “Kerry Hotel”, “Hotel Jen”, “Traders Hotel”, “Rasa”, “Summer Palace”, “Shang Palace”, “CHI, The Spa at Shangri-La”.</p>
                <br>				
                <p>Incorporated in Bermuda with limited liability. Shangri-La Asia Limited is listed on the Hong Kong Stock Exchange (stock code 00069) with a secondary listing on the Singapore Exchange Securities Trading Limited (stock code S07)</p>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="example-classname diversifyingSection">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle" data-aos="fade-up">
                <h2 class="borderTitle borderTitleBig"><span>Stock Codes</span></h2>
                <ul class="flexboxList flexboxList3Box">
                    <li><span><img src="assets/images/Key-Information-02.png"></span>0069<br/> HKSE STOCK CODE</li>
                    <li><span><img src="assets/images/Key-Information-03.png"></span>S07<br/> SGX STOCK CODE</li>
                    <li><span><img src="assets/images/Key-Information-04.png"></span>SHALY US<br/> ADR STOCK CODE</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="example-classname">
	<div class="container">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle">
				<h2 class="borderTitle borderTitleBig"><span>Corporate Information</span></h2>
			</div>
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

				<ul class="tableList">
					<div class="tableBody">
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Name</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Shangri-La Asia Limited<br>(Incorporated in Bermuda with limited liability)</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Registered Address</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Victoria Place<br>5th Floor<br>31 Victoria Street<br>Hamilton HM10<br>Bermuda</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Head Office and Principal Place of Business</li>
						<li class="col-md-9 col-sm-8 col-xs-8">28/F Kerry Centre<br>683 King's Road<br>Quarry Bay<br>Hong Kong</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Phone Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">(852) 2525 9146</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Fax Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">(852) 2523 8842</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Websites</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Corporate <a href="http://www.ir.shangri-la.com/">www.ir.shangri-la.com</a><br>Business <a href="https://www.shangri-la.com/">www.shangri-la.com</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Financial Year End</li>
						<li class="col-md-9 col-sm-8 col-xs-8">December 31</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Board of Directors</li>
						<li class="col-md-9 col-sm-8 col-xs-8">
							<u>Executive Directors</u>
							<br>Ms KUOK Hui Kwong (Chairman)
							<br>Mr LIM Beng Chee (Chief Executive Officer)
							<br><br><u>Non-Executive Director</u>
							<br>Mr HO Kian Guan (Alternate - Mr HO Chung Tao)
							<br><br><u>Independent Non-Executive Directors</u>
							<br>Professor LI Kwok Cheung Arthur
							<br>Mr YAP Chee Keong
							<br>Mr LI Xiaodong Forrest
						</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Executive Committee</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Ms KUOK Hui Kwong (chairman)<br>Mr LIM Beng Chee</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Nomination Committee</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Ms KUOK Hui Kwong (chairman)<br>Professor LI Kwok Cheung Arthur<br>Mr LI Xiaodong Forrest</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Remuneration Committee</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Professor LI Kwok Cheung Arthur (chairman)<br>Ms KUOK Hui Kwong<br>Mr YAP Chee Keong</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Audit & Risk Committee</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Mr YAP Chee Keong (chairman)<br>Mr HO Kian Guan<br>Professor LI Kwok Cheung Arthur</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Secretary</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Mr SEOW Chow Loong Iain</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Auditors</li>
						<li class="col-md-9 col-sm-8 col-xs-8">PricewaterhouseCoopers<br>Certified Public Accountants<br>22/F Prince's Building<br>Central, Hong Kong</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Principal Share Registrar</li>
						<li class="col-md-9 col-sm-8 col-xs-8">MUFG Fund Services (Bermuda) Limited<br>4th Floor North<br>Cedar House<br>41 Cedar Avenue<br>Hamilton HM12<br>Bermuda</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Branch Share Registrar in Hong Kong</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Tricor Abacus Limited<br>Level 54, Hopewell Centre<br>183 Queen's Road East<br>Hong Kong</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Exchange Listing</li>
						<li class="col-md-9 col-sm-8 col-xs-8">The Stock Exchange of Hong Kong Limited (Primary)<br>Singapore Exchange Securities Trading Limited (Secondary)</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Codes/Symbol</li>
						<li class="col-md-9 col-sm-8 col-xs-8">HKSE - 69<br>SGX - S07<br>ADR - SHALY</li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>