 
  <section class="heroSlider example-classname scopeBanner investorHero">
    <div class="scene">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
            <div class="innerBannerText " data-aos="fade-up">
              <h6 class="subTitle">This is a subhead for the key visual</h6>
              <h1>This is a headline <br>for the key visual</h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="breadcrumbContainer mobileBreadcrum">
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="#"><span>Investor Relations</span></a></li>
            <li><a href="#"><span>Overview</span></a></li>
            <li>CSR & Governance</li>
          </ul>
        </div>
      </div><!--breadcrumbContainer-->
      <div class="scope mobileOnly scopeCenter" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
      <div class="bannerImgBox" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
    </div><!--scene-->
  </section>
  
  <section class="example-classname">
    <div class="container container1470">
      <div class="row ourBusiness">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 centerTitle" data-aos="fade-up" data-aos-duration="1200">
          <h2 class="borderTitle borderTitleBig"><span>CSR & Governance</span></h2>
  
          <p>Our Shangri-La Hotels & Resorts has been recognised by the Dow Jones Sustainability Indices (DJSI) as the only hotel group included in the index component within Asia/Pacific. It affirms our commitment to sustainable operations and our leadership within the global travel & tourism sector.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="example-classname ptb70 csrImgBoxSection">
    <div class="container container1470">
      <div class="row">
        <div class="col-sm-12 col-xs-12 csrImgBox" data-aos="fade-up">
          <img src="assets/images/csr-governance.jpg" class="deskImg">
          <img src="assets/images/csr-governanceMobile.jpg" class="mobileOnly">
        </div>
      </div>
    </div>
  </section>
  
  <section class="example-classname pb40">
    <div class="container container1470  pb40">
      <div class="row ourBusiness" data-aos="fade-up">
        <div class="col-sm-12 col-xs-12">
          <h3 class="borderTitle4">Sustainability Reports</h3>
          
          <ul class="tableList">
            <div class="tableHead">
              <li class="col-sm-12 col-xs-12">
                <select class="selectBox">
                  <option>2012</option>
                  <option>2010</option>
                </select>
              </li>
            </div>
            <div class="tableBody dateSpan noticesBody">
              <li class="col-sm-12 col-xs-12">
                <span>2012</span>
                <div class="middleText">
                  <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Sustainability Reports/Shangri-La_Asia_2012_SustainabilityReport.pdf')" class="mlauto rightLinks">
                  <h4>2012 Sustainability Report</h4>
                  </a>
                </div>
              </li>
              <li class="col-sm-12 col-xs-12">
                <span>2010</span>
                <div class="middleText">
                  <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Sustainability Reports/Shangri-La_Asia_2010_SustainabilityReport.pdf')" class="mlauto rightLinks">
                  <h4>2010 Sustainability Report</h4>
                  </a>
                </div>
              </li>
            </div>
          </ul>
        </div>	
      </div>
    </div>
  </section>
  
  <section class="example-classname">
    <div class="container container1470">
      <div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
        <div class="col-sm-12 col-xs-12">
          <h3 class="borderTitle4">Corporate Governance</h3>
  
          <ul class="tableList">
            <div class="tableBody">
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/e_ToR NC20190501.pdf')">Nomination Committee</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/e_ToR RC20190501.pdf')">Remuneration Committee</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/e_ToR ARC20190501.pdf')">Audit & Risk Committee</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Constitutional Documents</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/e_MA_Byelaws.pdf')">Memorandum of Association and Bye Laws</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Shareholders' Rights</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/Shareholders right - Director nomination (Eng) 2019-05-01.pdf')">Procedures for Shareholders to Propose a Person for Election as a Director</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Shareholders' Rights</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/Shareholders right - Convene GM (Eng) 2019-05-01.pdf')">Procedures for Shareholders' Requests to Convene a General Meeting</a></li>
  
              <li class="col-md-3 col-sm-4 col-xs-4 firstli">Others</li>
              <li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Corporate Governance/Whistleblowing and Whistleblower Protection Policy (external) 2019-05-03.pdf')">Whistleblowing and Whistleblower Protection Policy (for external users)</a></li>
            </div>
          </ul>
        </div>	
      </div>
    </div>
  </section>