
  
  <section class="heroSlider example-classname scopeBanner investorHero">
    <div class="scene">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
            <div class="innerBannerText " data-aos="fade-up">
              <h6 class="subTitle">This is a subhead for the key visual</h6>
              <h1>This is a headline <br>for the key visual</h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="breadcrumbContainer mobileBreadcrum">
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="#"><span>Investor Relations</span></a></li>
            <li><a href="#"><span>Overview</span></a></li>
            <li>Public Disclosures</li>
          </ul>
        </div>
      </div><!--breadcrumbContainer-->
      <div class="scope mobileOnly scopeCenter" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
      <div class="bannerImgBox" style="background-image: url(assets/images/CorporateProfileHeader.jpg)"></div>
    </div><!--scene-->
  </section>
  
  <section class="example-classname">
    <div class="container container1470">
      <div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
        <div class="col-md-12 col-sm-12 col-xs-12 centerTitle">
          <h2 class="borderTitle borderTitleBig"><span>Public Disclosures</span></h2>
        </div>
        <div class="col-sm-12 col-xs-12">
          <ul class="nav nav-tabs navTabs">
            <li class="active"><a data-toggle="tab" href="#home">Financial Report</a></li>
            <li><a data-toggle="tab" href="#menu1">Financial Results</a></li>
            <li><a data-toggle="tab" href="#menu2">Announcements & Circulars</a></li>
          </ul>
          
          <div class="tab-content tabContent2">
            <div id="home" class="tab-pane fade in active">
              <h3 class="borderTitle4">Financial Report</h3>
              
              <ul class="tableList">
                <div class="tableHead">
                  <li class="col-sm-12 col-xs-12">
                    <select class="selectBox">
                      <option>All</option>
                      <option>2019</option>
                      <option>2018</option>
  
                      <option>2017</option>
                      <option>2016</option>
                      
                    </select>
                  </li>
                </div>
                <div class="tableBody dateSpan">
                  <li class="col-sm-12 col-xs-12">
                    <span>2018</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2018 Annual Report.pdf')" class="mlauto rightLinks">
                        <h4>Annual Report (11.02MB)</h4>
                      </a>
                    </div>
                    <a href="javascript:open_pdf('assets/files/Financial Report/2018 Annual Report.pdf')" class="mlauto rightLinks">Download</a>
                    
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2018</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2018 Interim Report.pdf')" class="mlauto rightLinks">
                        <h4>Interim Report (1.27MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2018 Interim Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2017</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2017 Annual Report.pdf')" class="mlauto rightLinks">
                        <h4>Annual Report (11.02MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2017 Annual Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2017</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2017 Interim Report.pdf')" class="mlauto rightLinks">
                      <h4>Interim Report (1.27MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2017 Interim Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2016</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2016 Annual Report.pdf')" class="mlauto rightLinks">
                        <h4>Annual Report (11.02MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2016 Annual Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2016</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2016 Interim Report.pdf')" class="mlauto rightLinks">
                        <h4>Interim Report (1.27MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2016 Interim Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2015</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2015 Annual Report.pdf')" class="mlauto rightLinks">
                      <h4>Annual Report (11.02MB)</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Financial Report/2015 Annual Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2015</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Financial Report/2015 Interim Report.pdf')" class="mlauto rightLinks">
                      <h4>Interim Report (1.27MB)</h4>
                      </a>
                    </div>
                    <a href="javascript:open_pdf('assets/files/Financial Report/2015 Interim Report.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
                </div>
              </ul>
              <h3 class="borderTitle4">Results Announcements</h3>
						
              <ul class="tableList">
                <div class="tableHead">
                  <li class="col-sm-12 col-xs-12">
                    <select class="selectBox">
                      <option>All</option>
                      <option>2019</option>
                      <option>2018</option>
                      <option>2017</option>
                      <option>2016</option>
                    </select>
                  </li>
                </div>
                <div class="tableBody dateSpan">
                  <li class="col-sm-12 col-xs-12">
                    <span>2018</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/e_20190320 (1640).pdf')" class="mlauto rightLinks">
                        <h4>2018 Final Results Announcement</h4>
                      </a>
                    </div>
                    <a href="javascript:open_pdf('assets/files/Results Announcements/e_20190320 (1640).pdf')" class="mlauto rightLinks">Download</a>
                    
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2018</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a20180823_interim.pdf')" class="mlauto rightLinks">
                        <h4>2018 Interim Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a20180823_interim.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2017</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a20180321.pdf')" class="mlauto rightLinks">
                        <h4>2017 Final Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a20180321.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2017</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a20170823.pdf')" class="mlauto rightLinks">
                      <h4>2017 Interim Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a20170823.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2016</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a170323.pdf')" class="mlauto rightLinks">
                        <h4>2016 Final Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a170323.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2016</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a160825.pdf')" class="mlauto rightLinks">
                        <h4>2016 Interim Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a160825.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2015</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a160324.pdf')" class="mlauto rightLinks">
                      <h4>2015 Final Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a160324.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2015</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Results Announcements/a150826.pdf')" class="mlauto rightLinks">
                      <h4>2015 Interim Results Announcement</h4>
                      </a>
                    </div>
                    <a href="javascript:open_pdf('assets/files/Results Announcements/a150826.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
                </div>
              </ul>
            </div><!--tab-pane-->
            <div id="menu1" class="tab-pane fade">
              <h3 class="borderTitle4">Financial Results</h3>
              
              <ul class="tableList">
                <div class="tableHead">
                  <li class="col-sm-12 col-xs-12">
                    <select class="selectBox">
                      <!--<option>Year</option>-->
                      <option>2019</option>
                      <option>2018</option>
                      <option>2017</option>
                      <option>2016</option>
                      
                    </select>
                  </li>
                </div>
                <div class="tableBody dateSpan">
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/03/20</span>
                    <div class="middleText">
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Corporate Presentation/2018 Final Results Announcement.pdf')" class="mlauto rightLinks">
                      <h4>2018 Final Results Announcement</h4>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Corporate Presentation/2018 Final Results Announcement.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
                </div>
              </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3 class="borderTitle4">Announcements & Circulars</h3>
              
              <ul class="tableList">
                <div class="tableHead">
                  <li class="col-sm-12 col-xs-12">
                    <select class="selectBox">
                    <!--	<option>Year</option>-->
                    <option>2019</option>
                    <option>2018</option>
                      <option>2017</option>
                    
                      <option>2016</option>
                      
                      
                    </select>
                    <select class="selectBox ml15 max375">
                      <option>All</option>
                      <option>Lorem Ipsum is simply dummy text</option>
                      <option>Printing & typesetting industry</option>
                      <option>Lorem has been the industry's</option>
                      <option>Standard dummy text ever since</option>
                      <option>Lorem Ipsum is simply dummy</option>
                    </select>
                  </li>
                </div>
                <div class="tableBody dateSpan">
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Notice of General Meeting</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Poll Results of the Annual General Meeting held on 5 June 2019.pdf')" class="mlauto">
                      <p>Poll Results of the Annual General Meeting held on 5 June 2019</p>
                      </a>
                    </div>									
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Poll Results of the Annual General Meeting held on 5 June 2019.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">MISCELLANEOUS</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto">
  
                      <p>Continuing Connected Transaction - Entering into Hotel Management Agreement and Sales and Marketing Services Agreement</p>
                      </a>
                    </div>
  
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Overseas Announcement</h4>
  
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto">
                      <p>Overseas Regulatory Announcement</p>
                      </a>
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
  
                      <h4 style="text-transform: uppercase">Prospectus</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Rights Issue Prospectus.pdf')" class="mlauto">
                      <p>Rights Issue Prospectus</p>
                      </a>
  
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Rights Issue Prospectus.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Notice of General Meeting</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Poll Results of the Annual General Meeting held on 5 June 2019.pdf')" class="mlauto">
  
                      <p>Poll Results of the Annual General Meeting held on 5 June 2019</p>
                      </a>
  
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Poll Results of the Annual General Meeting held on 5 June 2019.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Miscellaneous</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto">
  
                      <p>Continuing Connected Transaction - Entering into Hotel Management Agreement and Sales and Marketing Services Agreement</p>
                      </a>
  
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Overseas Announcement</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto">
  
                      <p>Overseas Regulatory Announcement</p>
                      </a>
  
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Overseas Regulatory Announcement.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
  
                  <li class="col-sm-12 col-xs-12">
                    <span>2019/06/05</span>
                    <div class="middleText middleText2">
                      <h4 style="text-transform: uppercase">Prospectus</h4>
                      <a style="border: none;margin-top: 0px;" href="javascript:open_pdf('assets/files/Announcements & Circulars/Rights Issue Prospectus.pdf')" class="mlauto">
                      <p>Rights Issue Prospectus</p>
                      </a>
  
                    </div>
                    <a href="javascript:open_pdf('assets/files/Announcements & Circulars/Rights Issue Prospectus.pdf')" class="mlauto rightLinks">Download</a>
                  </li>
                </div>
              </ul>
              
              <div class="col-sm-12 col-xs-12">
              <ul class="pagination">
                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
              </div>
              
            </div>
          </div><!--tab-content-->
        </div><!--col-12-->
      </div><!--row-->
    </div><!--container-->
  </section>
  
  <section class="ptb50 middleSection example-classname careerBG contactRow">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 centerTitle ourBusinessTitle">
          <h2 class="borderTitle borderTitleBig"><span>Contact Us</span></h2>	
          <p>Get in touch with us</p>
          
          <h5 class="mb10">Investor Relations Contact</h5>
          <p>enquiry.ir@shangri-la.com<br/>
            28/F Kerry Centre, 683 King’s Road<br/>
            Quarry Bay, Hong Kong</p>
        </div>
      </div>
    </div>
  </section>
  
