
<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Corporate Governance</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>

<section class="example-classname">
	<div class="container container1470">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-sm-12 col-xs-12">
				<h3 class="borderTitle4">Corporate Governance</h3>

				<ul class="tableList">
					<div class="tableBody">
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/Malaysia_Board Charter.pdf')">Board Charter</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/Terms of Reference - AC_20180328.pdf')">Terms of Reference - Audit Committee</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Terms of Reference of Board Committees</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/Malaysia_TOR_NRC.pdf')">Terms of Reference - Nomination and Remuneration Committee</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Annual General Meeting</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/a300818Summaryofkey.pdf')">Summary of Key Matters Discussed at Annual General Meeting Held on May 17, 2018</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Annual General Meeting</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/a200617Summaryofkey.pdf')">Summary of Key Matters Discussed at Annual General Meeting Held on May 18, 2017</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Corporate Governance Reports</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/SHANG Corporate Governance Report 2018.pdf')">2018 Corporate Governance Report</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Corporate Governance Reports</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="javascript:open_pdf('assets/files/Malaysia Corporate Governance/20180423_corporate_governance_report_2017.pdf')">2017 Corporate Governance Report</a></li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>

