


<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Corporate Profile</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>

<section class="example-classname">
	<div class="container container1470">
		<div class="row ourBusiness">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 centerTitle" data-aos="fade-up" data-aos-duration="1200">
				<h2 class="borderTitle borderTitleBig"><span>Our investment holdings</span></h2>

				<p>Our subsidiary Shangri-La Hotel Public Company Limited  (Thailand) is an investment holding company whose principal activities are investment properties and operation of hotels and resorts. </p>
				<br>
				<p>Shangri-La Hotel Public Company Limited is incorporated with limited liability in Thailand and traded on the Stock Exchange of Thailand (stock code SHANG).</p>
				<br>
			</div>
		</div>
	</div>
</section>

<section class="example-classname diversifyingSection">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle" data-aos="fade-up">
				<h2 class="borderTitle borderTitleBig"><span>Stock Codes</span></h2>
				<ul class="flexboxList flexboxList3Box">
					<li></li>
					<li><span><img src="assets/images/Key-Information-02.png"></span>SHANG<br/> The Stock Exchange of Thailand</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="example-classname">
	<div class="container">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 centerTitle">
				<h2 class="borderTitle borderTitleBig"><span>Corporate Information</span></h2>
			</div>
			<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

				<ul class="tableList">
					<div class="tableBody">
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Name</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Shangri-La Hotel Public Company Limited</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Registered Office</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Head Office<br>89 Soi Wat Suan Plu, New Road<br>Bangrak<br>Bangkok 10500<br>Thailand<br>Email: slbk@shangri-la.com</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Sector</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Tourism and Leisure</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Internet Homepage Address (URL)</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="http://www.shangri-la.com/bangkok">http://www.shangri-la.com/bangkok</a><br><a href="http://www.shangri-la.com/chiangmai">http://www.shangri-la.com/chiangmai</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Phone Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Head Office:662-236-7777<br>Branch Office:6653-253-888</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Fax Number</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Head Office:662-236-8579<br>Branch Office:653-253-800</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Financial Year End</li>
						<li class="col-md-9 col-sm-8 col-xs-8">December 31</li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Board of Directors</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Mr Pong Sarasin* (Chairman)<br>
						Mr Suvat Asdathorn (Vice Chairman)<br>
						Mr Maris Pakdeetaveevivat (Vice Chairman and Managing Director)<br>
						Madam Kuok Oon Kwong<br>
						Mrs Chanida Asdathorn<br>
						Mr Somkiat Asdathorn<br>
						Mr Surin Asdathorn<br>
						Mr Chan Kong Leong<br>
						Mrs Pavinee Meensuk<br>
						Mr Kovit Poshyananda*<br>
						Mr Jayavadh Bunnag*<br>
						Mr Kledchai Benja-athonsirikul*<br>
						* Independent Directors
						</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Company Secretary</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Mrs Pavinee Meensuk</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Exchange Listing</li>
						<li class="col-md-9 col-sm-8 col-xs-8">The Stock Exchange of Thailand</li>
						
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Stock Codes/Symbol</li>
						<li class="col-md-9 col-sm-8 col-xs-8">SHANG</li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>

<section class="example-classname">
	<footer>

		<div class="container">

			<div class="row">

				<div class="col-lg-4 col-sm-4 col-xs-12">
					<h3>OUR BUSINESSES</h3>
					<ul class="ftrlinks">
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Hotels &amp; Resorts</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Food &amp; Beverage</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Leisure &amp; Recreation</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Commercial &amp; Residential</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-sm-4 col-xs-12">
					<ul class="mainftrLinks">
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">About Shangri-la</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Our Capabilities</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Investor Relations</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Sustainability</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Careers</a></li>
						<li><a href="../shang/overseas-listed-subsidiaries.php.html#">Media</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-sm-4 col-xs-12">

					<div class="contactUsWrap">

						<h3>Contact Us</h3>

						<select class="otherOffice">

							<option>WORLDWIDE OFFICES</option>

							<option>USA</option>

							<option>UK</option>

						</select>

						<div class="socialMedia">

							<a href="investor-relations.html#"><img src="assets/images/googleplus-icon.jpg"></a>

							<a href="investor-relations.html#"><img src="assets/images/socialicon01.jpg"></a>

							<a href="investor-relations.html#"><img src="assets/images/facebook-icon.jpg"></a>

							<a href="investor-relations.html#"><img src="assets/images/twitter-icon.jpg"></a>

							<a href="investor-relations.html#"><img src="assets/images/youtube-icon.jpg"></a>

							<a href="investor-relations.html#"><img src="assets/images/you-icon.jpg"></a>



						</div>

					</div>

				</div>



			</div>

			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ftrLogo">

					<a href="investor-relations.html#"><img src="assets/images/ftr-logo.png"></a>

				</div>

				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ftrNote">

					<p> <a href="investor-relations.html#">Privacy Policy</a> |

						<a href="investor-relations.html#">Terms &amp; Conditions</a> |

						<a href="investor-relations.html#">Safety &amp; Security</a> |

						<a href="investor-relations.html#">Supplier Code Of Conduct</a></p>

					<p> © 2019 Shangri-La International Hotel Management Ltd. All Rights Reserved. ICP license:

						17055189</p>

				</div>

			</div>

		</div>

	</footer>
</section>

