
<section class="heroSlider example-classname scopeBanner investorHero">
	<div class="scene">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3 innerCaption centerCaption mobileCaption">
					<div class="innerBannerText " data-aos="fade-up">
						<h6 class="subTitle">This is a subhead for the key visual</h6>
						<h1>This is a headline <br>for the key visual</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbContainer mobileBreadcrum">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="#"><span>Investor Relations</span></a></li>
					<li><a href="#"><span>Overview</span></a></li>
					<li>Other Information</li>
				</ul>
			</div>
		</div><!--breadcrumbContainer-->
		<div class="scope mobileOnly scopeCenter" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
		<div class="bannerImgBox" style="background-image: url('assets/images/CorporateProfileHeader.jpg')"></div>
	</div><!--scene-->
</section>

<section class="example-classname">
	<div class="container container1470">
		<div class="row ourBusiness" data-aos="fade-up" data-aos-duration="1200">
			<div class="col-md-12 col-sm-12 col-xs-12 centerTitle">
				<h2 class="borderTitle borderTitleBig"><span>Other Information</span></h2>
			</div>
			<div class="col-sm-12 col-xs-12">
				<h3 class="borderTitle4">Analyst Coverage</h3>

				<ul class="tableList">
					<div class="tableHead">
						<li class="col-md-3 col-sm-4 col-xs-4">Firm</li>
						<li class="col-md-9 col-sm-8 col-xs-8">Analyst</li>
					</div>
					<div class="tableBody">
						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Lorem Ipsum</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Lorem</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Contrary</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Sed dignissim</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Sed dignissim bibendum massa, sed vestibulum lectus sodales eu.</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Morbi justo</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo ligula</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Tristique quis ligula</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Aenean ligula nunc, tristique quis ligula quis.</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Curabitur faucibus</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Curabitur faucibus mauris pretium magna facilisis euismod.</a></li>

						<li class="col-md-3 col-sm-4 col-xs-4 firstli">Vivamus</li>
						<li class="col-md-9 col-sm-8 col-xs-8"><a href="#">Vivamus et turpis at lorem imperdiet fringilla ut non justo.</a></li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>

<section class="example-classname pb40">
	<div class="container container1470  pb40">
		<div class="row ourBusiness" data-aos="fade-up">
			<div class="col-sm-12 col-xs-12">
				<h3 class="borderTitle4">Notices (replacement of lost share certificates)</h3>
				
				<ul class="tableList">
					<div class="tableHead">
						<li class="col-sm-12 col-xs-12">
							<select class="selectBox">
								<option>2019</option>
								<option>2018</option>
								<option>2017</option>
								<option>2016</option>
							</select>
						</li>
					</div>
					<div class="tableBody dateSpan noticesBody">
						<li class="col-sm-12 col-xs-12">
							<span>Nov16</span>
							<div class="colfull767"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov15</span>
							<div class="colfull767"><a href="#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov14</span>
							<div class="colfull767"><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text.</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov9</span>
							<div class="colfull767"><a href="#">Sed dignissim bibendum massa, sed vestibulum lectus sodales eu.</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov16</span>
							<div class="colfull767"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo ligula</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov15</span>
							<div class="colfull767"><a href="#">Aenean ligula nunc, tristique quis ligula quis.</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov14</span>
							<div class="colfull767"><a href="#">Curabitur faucibus mauris pretium magna facilisis euismod.</a></div>
						</li>
						
						<li class="col-sm-12 col-xs-12">
							<span>Nov9</span>
							<div class="colfull767"><a href="#">Vivamus et turpis at lorem imperdiet fringilla ut non justo.</a></div>
						</li>
					</div>
				</ul>
			</div>	
		</div>
	</div>
</section>

